 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>A free spirit born and brought up on the South Island of NZ,
                      Sarah has experienced everything from living in a caravan,
                      riding a flashy red motorbike, and from living on a city bench to owning
                       a fancy studio in the heart of Auckland.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>These life experiences have not only shaped how Sarah looks
                    at her own life but what she sees in the people around her.
                    Her work portrays some of her innermost feelings exposing the self fulfilled live figures to
                    the deep, dark and fatalistic thoughts.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download CV (Coming soon)
                    </a>
                </div>
            </div>
        </div>
    </section>
